* {
  box-sizing: border-box;
}


@media only screen and (min-width : 320px) {
.openingPage {
    background-color: gainsboro;
    padding: 15px;
  }
  
.disclaimer {
  font-size: 11px;
}
  
  .openingPage h1{
  text-align: center;
  }
  
  .q {
    background-color:aliceblue;
    width: 250px;
    padding: 15px;
    border: 3px solid black;
  }
  
  .together {
   display: flex;
   justify-content: space-between;
  }
  
  .lowSat {
    padding: 15px;
    background-color: rgb(198, 198, 199);
  }

  .medSat {
    padding: 15px;
    background-color: rgb(170, 170, 170);
  }

  .highSat {
    padding: 15px;
    background-color: rgb(218, 218, 218);
  }

  #js-error-message {
    color: red;
  }

.openingPage {
  background-color: rgb(232, 236, 236);
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

  .suggestions {
  background-color: rgb(232, 236, 236);
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.copeResults {
  background-color: rgb(139, 139, 139);
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

#lowTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.back {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

#help {
  font-size: 30px;
}

#science {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


}



/* ********************Medium Screen*********************** */
@media only screen and (min-width: 750px)  {

  .openingPage {
    width: 700px;
  }

  .suggestions {
  width: 700px;
}

  .copeResults {
  width: 700px;
}

#help {
  font-size: 30px;
}

}



/* ********************Large Screen*********************** */

@media only screen and (min-width: 1200px) {

  .openingPage {
   width: 1000px;
  }

  .suggestions {
  width: 1000px;
}

  .copeResults {
  width: 1000px;
}

#help {
  font-size: 30px;
}

}


/* ********************** */

.hidden {
      display: none;
  }