* {
  box-sizing: border-box;
}

html {
  background-color: #E8DAB3;
}

.result {
  background-color: #FFDAC4;
}

#quack {
border-radius: 50%;
border: 10px solid #FFDAC4;
}

#okPage {
  display: flex;
  justify-content: space-between;
}

form {
  z-index: 1;
}

@media only screen and (min-width : 320px) {
.openingPage {
    background-color: #FFEED0;
    padding: 15px;
  }
  
.disclaimer {
  font-size: 11px;
}
  
  .openingPage h1{
  text-align: center;
  
  }
  
  .q {
    background-color:#FFEED0;
    width: 250px;
    padding: 15px;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
  }
  
  .together {
   display: flex;
   justify-content: space-between;
  }
  
  .lowSat {
    padding: 15px;
  }

  .medSat {
    padding: 15px;
  }

  .highSat {
    padding: 15px;
    background-color: #FFDAC4;
  }

  #js-error-message {
    color: #E8CEB3;
  }

.openingPage {
  background-color: #FFEED0;;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

  .suggestions {
    background-color: #FFEED0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.copeResults {
  background-color: #FFEED0;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

#lowTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.back {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

#help {
  font-size: 30px;
}

#science {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


}



/* ********************Medium Screen*********************** */
@media only screen and (min-width: 750px)  {

  .openingPage {
    width: 700px;
  }

  .suggestions {
  width: 700px;
}

  .copeResults {
  width: 700px;
}

#help {
  font-size: 30px;
}

}



/* ********************Large Screen*********************** */

@media only screen and (min-width: 1200px) {

  .openingPage {
   width: 1000px;
  }

  .suggestions {
  width: 1000px;
}

  .copeResults {
  width: 1000px;
}

#help {
  font-size: 30px;
}

}


/* ********************** */

.hidden {
      display: none;
  }